@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --primary-color: #007af3;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.navbar {
    background: whitesmoke;
    padding: 1em;

    .prime-logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.5em;
    }

    span {
        color: var(--primary-color);
    }

    nav {
        display: none;
    } 
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .nav-menu-exit {
        cursor: pointer;
    }
}

a {
    color: #444;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

section {
    padding: 4em 3em 2em 1em;
}

.main-frame {
    text-align: center;
}

.left-segment {
    .mf-ls-header {
        text-transform: uppercase;
        font-weight: 700;
        color: gray;
        letter-spacing: .1em;
    }

    h1 {
        font-size: 2em;
        line-height: 1.2em;
        margin-top: .2em;
    }

    .primary-ls-bottom {
        background: var(--primary-color);
        font-weight: bold;
        display: inline-block;
        color: whitesmoke;
        text-decoration: none;
        padding: .5em 1.2em;
        font-size: 1.3em;
        border-radius: 4em;
    }

    .secondary-ls-bottom {
        display: block;
        margin-top: 1em;

        img {
            margin-right: .5em;
        }
    }
}

.rg-illustration {
    width: 70%;
    margin-top: 3em;
}

.featured-segment {
    background-color: #20272e;
    color: #f2f2f2;
}

ul.featured-list {
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.05em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../assets/images/checkmark-bullet.svg');
            background-size: contain;
            margin-right: .5em;
            left: -2em;
        }
    }
}

section.featured-segment img {
    display: none;
}

section.testimonial-segment {
    color: white;
    background-color: var(--primary-color);
    li {
        background-color: blue;
        text-align: center;
        padding: 2em .5em;
        width: 80%;
        margin: 0 auto 4em auto;
        border-radius: 1.5em;
        img {
            width: 5em;
            height: 5em;
            margin-top: -8.5em;
            //border: 2px white;
            //border-radius: 50%;
        }
    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;

    ul.primary-navigation {
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.nav-menu-exit {
    float: right;
    margin: 1em;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    .nav-menu-app, .nav-menu-exit {
        display: none;
    }
}

.navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    ul {
        display: flex;
    }

    a {
        color: black;
        font-size: 1em;
        padding: .1em, 1em;
    }

    ul.primary-navigation {
        margin: 0;
    }

    li.pn-home a {
        font-weight: bold;
    }

    li.sn-go-premium-cta a {
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: -.2em;

        &:hover {
            background: var(--primary-color);
            color: white;
        }
    }
}

@media only screen and (min-width:1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;        
    }

    .main-frame .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-segment {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .main-frame-img {
        width: 30%;
        margin-right: 8em;
    }

    .ls-bottom {
        display: flex;
    }

    .primary-ls-bottom {
        margin-right: 1em;
    }

    ul.featured-list {
        display: block;
        margin-left: 10em;

        li {
            font-size: 1.4em;
            &::before {
                width: 30px;
                height: 30px;
            }
        }
    }

    section.featured-segment {
        .container {
            position: relative;
        }

        .featured-segment img {
            display: block;
            position: absolute;
            margin-right: 0;
            width: 350px;
            margin-bottom: -12em;
        }
    }

    .testimonial-segment ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }

    .contact-segment {
        position: relative;

        .container {
            display: flex;
        }
    }

    .contact-right-frame {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 80%;
        margin-top: 5%;
        margin-right: 2em;

        iframe {
            height: 80%;
        }
    }
}

@media only screen and (min-width: 1080px) {
    .featured-segment {
        &::before {
            content: '';
            position: absolute;
            width: 10%;
            height: 15em;
            background: var(--primary-color);
            left: 0;
            margin-top: -12em;
        }

        &::after {
            content: '';
            position: absolute;
            width: 150px;
            height: 10em;
            background: url('../assets/images/dotted-square.svg') no-repeat;
            left: 5.5em;
            margin-top: -27.5em;
        }
    }
}